@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 mb-4">Welcome</h1>
        <p class="lead mb-5">
            Welcome to your personalized To-Do List! This page is designed to help you stay organized and manage your tasks efficiently. Here, you can create new tasks, set deadlines, and prioritize your activities. The intuitive interface makes it easy to add, edit, and delete tasks with just a few clicks. You can also categorize tasks into different lists, such as work, personal, and shopping, to keep everything in order. Stay on top of your daily, weekly, and monthly goals with our built-in calendar view, and never miss a deadline again. Whether you're planning a project, organizing your home, or just keeping track of errands, our To-Do List is your go-to tool for staying productive and achieving your goals.
        </p>
        <a href="/User/Login" class="btn btn-primary btn-lg">Go To Your TODO List</a>
        <a href="/User/Register" class="btn btn-primary btn-lg">Create New TODO List</a>
    </div>
</div>
